ALTER SESSION SET CONTAINER = xepdb1;

CREATE USER ${ORACLE_USERNAME} IDENTIFIED BY "${ORACLE_PASSWORD}";
GRANT CONNECT, RESOURCE TO ${ORACLE_USERNAME};
ALTER SESSION SET CURRENT_SCHEMA = ${ORACLE_USERNAME};
